@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@200&display=swap');

/* Variables for brand colors and fonts */
:root {
    --accent-color: #d85600;
    --dark-color: #616161;
    --darker-color: #464646;
    --medium-color: #c5c5c5;

    --main-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: #eeeeee;
}

.container {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.row {
    margin: 0;
    padding: 0;
}

/* Headings */

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

/* Header */

#name-title-box {
    background-color: var(--dark-color);
    color: #fff;
    padding-top: 80px;
}

h1 {
    padding: 7px 50px;
    font-weight: bold;
    font-size: 1.8rem;
}

header h2 {
    padding-right: 50px;
    text-align: right;
    padding: 10px 40px 10px 0;
    font-style: italic;
    font-size: 1.5rem;
}

h3 {
    font-weight: bold;
}

#title-heading {
    background-color: var(--accent-color);
}

/* Contact details */
#contact-details {
    margin: 30px auto;
    border-collapse: collapse;
}

#contact-details .fas {
    color: var(--dark-color);
}

#contact-details td {
    border-left: solid 2px var(--accent-color);
    padding-left: 1rem;
}

#contact-details th {
    width: 30px;
    text-align: center;
    padding: 6px 16px 0 0;
}

#contact-details tr {
    height: 30px;
}

/* Navigation */

nav {
    margin-top: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    background-color: var(--darker-color);
}

/* Photo and description */

#photo {
    height: 100%;
    min-height: 500px;
    background-image: url('../images/rosie.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#description {
    padding: 1.5rem;
}

/* Three reasons */

.heading-box-wrapper {
    margin: 2rem;
    padding: 5px;
    background-color: var(--dark-color);
    display: inline-block;
}

.grey-box-heading {
    padding: .5rem 1.5rem;
    border: 1px solid white;
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.content-column {
    padding: 0 2rem 1rem 2rem;
}

hr {
    border: none;
    border-bottom: 2px solid var(--accent-color);
    width: 75px;
    margin: 10px auto 20px 0;
}

/* Work history */

.left-side-grey-box {
    background-color: var(--darker-color);
    padding: 1.5rem;
}

.left-side-grey-box h4 {
    color: white;
}

#work-history h5 {
    font-size: 1rem;
    font-weight: bold;
}

#work-history p {
    font-size: .8rem;
    margin: 0;
}

.job-box {
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    color: white;
    padding: 1.5rem;
    position: relative;
}

.job-left {
    border-left: none;
    text-align: right;
}

.job-right {
    border-right: none;
}

#work-history:last-child {
    border-bottom: 1px solid var(--accent-color);
}

.timeline-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.job-left > .timeline-circle {
    position: absolute;
    right: -8px;
    top: 26px;
}

.job-right > .timeline-circle {
    position: absolute;
    left: -8px;
    top: 26px;
}

/* progress bars */

.progress {
    margin-top: 1rem;
    height: 1.5rem;
    background-color: #eeeeee;
}

.progress-bar {
    text-align: left;
    padding-left: 1.5rem;
    font-size: 1rem;
    background-color: var(--medium-color);
    color: var(--darker-color);
    font-weight: bold;
}

/* Interests page */

.content-column a {
    color: var(--accent-color);
}

.content-column a:hover {

} 

/* Social links */

#social-links ul {
    list-style: none;
    text-align: center;
    padding: 5px 0 15px 0;
}

#social-links li {
    font-size: 1.5rem;
    display: inline-block;
    padding: 15px;
}

#social-links a {
    color: var(--accent-color);
}

/* contact page */
#form-box {
    padding: 0 2rem;
}

label {
    text-transform: uppercase;
}

#submit-btn {
    background-color: var(--accent-color);
    color: white;
    font-size: 1.3rem;
    border: none;
    text-transform: uppercase;
    padding: .2rem .7rem;
    letter-spacing: 2px;
    transition: 0.25s ease-in-out;
}

#submit-btn:hover {
    opacity: .8;
}

/* Icons */

/* Code to rotate social links found at : https://codepen.io/ianfarb/pen/yqpmw */
.spin-icon {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.spin-icon:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

/* Hovering over submit button rotates the child icon element */
#submit-btn:hover > .spin-icon {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;

}
/* Hovering over link rotates the child icon element */
.content-column a:hover > .spin-icon {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;

}

/* Skills - footer */

footer h4, .left-side-grey-box h4 {
    margin-top: .7rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

#skills {
    background-color: var(--dark-color);
    color: white;
    padding: 1rem;
}

.skill {
    display: inline-block;
    text-align: center;
}

#skills h4 {
    margin-bottom: 20px;
}

#skills h5 {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 1.5rem;
}

.skill > i {
    font-size: 2rem;
}

.skill > img {
    width: 35px;
}

#social-links {
    padding: 1rem;
}

a:hover {
    text-decoration: none;
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #contact-details {
        margin: 60px auto;
        border-collapse: collapse;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header h2 {
        font-size: 2rem;
    }
    h1 {
        font-size:2.3rem;
    }
}